@import url('https://fonts.googleapis.com/css?family=Raleway');
   

html, body{
	min-height:100%;
} 

body{
	background:#DBF4F7;

}    

h1{
	font-family: 'Raleway', sans-serif, font-style: extra-bold;
	font-weight: 800;
	color: #EDB570;
}

h2{
	font-family: 'Raleway', sans-serif, font-style: bold;
	font-weight: 700;
}

h5{
	font-family: 'Raleway', sans-serif, font-style:semi-bold;
	font-weight: 600;
}

h6{
	font-family: 'Raleway', sans-serif;
	font-weight: 400;

}

#menu{
	position: fixed;
	bottom:2rem;
	right:2.5rem;
}

.bg-azul{
	background:#F3E6D6;
}